
<div class="jumbotron">
    <h1>Demo</h1>
    <p class="lead">In this demo you can upload a file, either by using the Multipar approach, or the BSON Media Type Formatter Approach</p>
</div>
<div class="row">
    <div class="col-md-4">
        <p><button type="button" class="btn btn-default" id="btnUploadMultipart">Upload Multipart &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <p><button type="button" class="btn btn-default" id="btnUploadBSON">Upload Directly&raquo;</button></p>
    </div>
    <div class="col-md-4">
        <img id="fileUploaded" style="width:100%" />
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/demo.js"></script>    
}
