<div class="jumbotron">
    <h1>Multipart Example</h1>
    <p class="lead">This is an Example that shows how to work with File Uploads in REST using ASP .NET Web API and HTML5 File API</p>
    <p><a href="http://github.com/" class="btn btn-primary btn-lg">Github Repo &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>On the Client</h2>
        <p>The important part is to use HTML5 File API to send de file data. The Client library used is not that important.</p>
        <p><a class="btn btn-default" href="http://www.html5rocks.com/en/tutorials/file/filesystem/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>On the Server</h2>
        <p>The server controller will take into account the format of the data and get its content to proccess it later.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/web-api/overview/advanced/sending-html-form-data-part-2">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Approach</h2>
        <p>It is also possible to use the new BSON Media Type Formatter to send the bytes directly</p>
        <p><a class="btn btn-default" href="http://www.asp.net/web-api/overview/formats-and-model-binding/bson-support-in-web-api-21">Learn more &raquo;</a></p>
    </div>
</div>
